@import url(https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap);


.sc-kTLmzF {
    margin-right: 5px
}

.sc-hrJsxi,
.sc-kITQLZ,
.sc-ljHdwo {
    position: absolute
}

.faeaXa {
    filter: drop-shadow(0 0 15px rgba(var(--inv), 1))
}

.hPoIsr>.faeaXa {
    filter: drop-shadow(0 0 5px rgba(var(--inv), 1))
}

.faeaXa[style*="rgb(149, 165, 166)"] {
    --inv: 149, 165, 166
}

.faeaXa[style*="rgb(46, 204, 113)"] {
    --inv: 46, 204, 113
}

.faeaXa[style*="rgb(52, 152, 219)"] {
    --inv: 52, 152, 219
}

.faeaXa[style*="rgb(155, 89, 182)"] {
    --inv: 155, 89, 182
}

.faeaXa[style*="rgb(241, 196, 15)"] {
    --inv: 241, 196, 15
}

.faeaXa[style*="rgb(211, 84, 0)"] {
    --inv: 211, 84, 0
}

.cLzJor,
.cSKUzy,
.ewFvVb,
.hCYBep,
.hZsXWy,
.iiRiSL,
.ioTKAc,
.kLCLJb,
.kkJNVP,
.mKbOF {
    display: none !important
}

#voxiom-io_300X250_1,
#voxiom-io_728x90_1,
#voxiom-io_728x90_3,
#voxiom-io_970X250_1,
.sc-auqbC,
.sc-bBHxTw,
.sc-bOtlzW,
.sc-bXRjm,
.sc-cQMzAB,
.sc-cnHmbd,
.sc-crHmcD,
.sc-ddnlvQ,
.sc-dlUKyu:nth-child(2)>.sc-eIMkDA,
.sc-fGoOlv,
.sc-fKVqWL,
.sc-gFkHhu,
.sc-gUQvok>.sc-fXeWAj,
.sc-gfXuXe,
.sc-giYglK,
.sc-hDzdEj,
.sc-hGnimi,
.sc-hJhJFJ,
.sc-hKUcmH,
.sc-hPmGNk,
.sc-hQqMrg,
.sc-hUplSX:first-child,
.sc-hUplSX:nth-child(11),
.sc-hUplSX:nth-child(3),
.sc-hUplSX:nth-child(5),
.sc-hUplSX:nth-child(7),
.sc-hUplSX:nth-child(9),
.sc-hlGDCY,
.sc-iAKWXU,
.sc-iJKOTD,
.sc-iidyiZ:nth-child(3),
.sc-isIVbZ,
.sc-jECdDC,
.sc-jWUzzU,
.sc-jwRhZi,
.sc-kHOZwM,
.sc-lbCmg,
.sc-pVTFL,
.sc-wAsCI:first-child>.sc-fpGCtG,
.sc-wAsCI:nth-child(2)>.sc-fpGCtG {
    display: none
}

.dcWybl * {
    border: none
}

.bNPMhE *,
.bccMWL,
.bhZAzR,
.cJa-dgF,
.cxSTIe,
.czueTf,
.dFbRBI,
.dXMIIa,
.dtXnOV,
.eFhDSk,
.eQfmzq *,
.ekCLHU,
.faeaXa,
.gIfJjz,
.gJPUVb,
.hPotyP,
.hRjrYH *,
.jeVZaU *,
.kmXZza *,
.lbyvRf,
.sc-fpyFWH,
.sc-iQLbEm {
    background: 0 0 !important;
    border: none !important
}

.bhZAzR {
    color: #3838fc !important
}

.gJPUVb {
    color: #ff0d1d !important
}

* {
    transition: background .1s;
    font-family: cursive
}

.cJoQGw {
    background: radial-gradient(circle, rgba(var(--market), .3), rgba(var(--market), .1))
}

.sc-iBjLOp>div:nth-child(2),
.sc-jCHUfY>span {
    font-size: 20px
}

.sc-cfJLRR {
    font-size: 22px;
    margin-bottom: 15px
}

.sc-OVzLa,
.sc-bNoLzS,
.sc-jZJapT,
.sc-jivBlf:nth-child(7)>.sc-hkgtus {
    border: 1px solid #fff
}

.cJoQGw[style*="rgb(255, 255, 255)"] {
    --market: 255, 255, 255
}

.cJoQGw[style*="rgb(128, 156, 255)"] {
    --market: 128, 156, 255
}

.cJoQGw[style*="rgb(180, 99, 255)"] {
    --market: 180, 99, 255
}

.cJoQGw[style*="rgb(255, 84, 224)"] {
    --market: 255, 84, 224
}

.cJoQGw[style*="rgb(230, 126, 34)"] {
    --market: 230, 126, 34
}

.cJoQGw[style*="rgb(255, 66, 101)"] {
    --market: 255, 66, 101
}

.cJoQGw[style*="rgb(255, 224, 99)"] {
    --market: 255, 224, 99
}

.sc-hrJsxi {
    background-color: grey;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.sc-dpAhYB .sc-ibSMNl,
.sc-ibSMNl {
    margin-bottom: 40px;
    margin-top: 50px
}

.sc-dlUKyu .sc-gOMZtR,
.sc-dlUKyu .sc-gulkZw,
.sc-eIMkDA:nth-child(2) .sc-gOMZtR,
.sc-gijNBN:nth-child(2) .sc-gOMZtR {
    font-size: 15px
}

.sc-cbTmKc {
    background: radial-gradient(circle, rgba(0, 123, 255, .5) 0, rgba(0, 62, 124, .7) 100%)
}

.sc-dCKSNi {
    background: radial-gradient(circle, rgba(255, 0, 0, .5) 0, rgba(139, 0, 0, .7) 100%)
}

.sc-LMKsT {
    background: radial-gradient(circle, rgba(169, 169, 169, .5) 0 rgba(0, 0, 0, .7) 100%)
}

.sc-hgJWpk {
    color: red;
    margin-top: -4px
}

.sc-eIMkDA:nth-child(2) .sc-eGAbHy,
.sc-gijNBN:nth-child(2) .sc-eGAbHy,
.sc-igXgud,
.sc-jGOmzE:nth-child(2) .sc-eGAbHy {
    margin-top: 5px
}

.sc-eIMkDA .sc-cCqACh,
.sc-eIMkDA .sc-eGAbHy,
.sc-gijNBN .sc-eGAbHy {
    border-radius: 12px;
    width: 50px;
    height: 50px
}

.sc-EsakX,
.sc-bEvXvO,
.sc-bVMxNJ>.sc-cgLTVH,
.sc-bcuSnp>div:nth-child(2),
.sc-bilyIR>.sc-eGPXGI,
.sc-brSHfi,
.sc-cLqoAx .sc-dBGsNe,
.sc-cLqoAx .sc-dXNTeZ,
.sc-cLqoAx .sc-hudTXT,
.sc-cLqoAx .sc-jFkmsu,
.sc-cjrPHo,
.sc-dFtzxp,
.sc-dwsnSq>div,
.sc-dyEwOs>.sc-jwjNBh,
.sc-eIMkDA.sc-imtoHe,
.sc-eUJYgc .sc-leSONj,
.sc-fESQEH,
.sc-fMEUvU,
.sc-fXEqDS>.sc-FNXRL,
.sc-fXiGvq,
.sc-fZuPrs>.sc-jPGhGf,
.sc-flAguQ,
.sc-fwqEVi .sc-gsNzBj>.sc-hYfoSM,
.sc-fwqEVi .sc-iUCjyN,
.sc-gUQvok>.sc-fIosxK,
.sc-gdvcKI,
.sc-gijNBN .sc-fYIQDW,
.sc-gijNBN .sc-imtoHe,
.sc-hilbJV,
.sc-iBjLOp>div,
.sc-igXgud,
.sc-imtoHe,
.sc-iztaBw>.sc-dhCHPp,
.sc-jEDbyf>.sc-fKeRlk,
.sc-jGOmzE:nth-child(2) .sc-gOMZtR,
.sc-jQbROH,
.sc-jUosCB,
.sc-jlObWd>.sc-LerVu,
.sc-jpYekQ,
.sc-kcTyAv,
.sc-lcepkR,
.sc-lmONJn {
    font-size: 19px
}

.sc-lbCmg {
    color: #000
}

.sc-NqARw,
.sc-hnCQzQ {
    border-radius: 12px
}

.sc-bilyIR .sc-xiLah,
.sc-dFtzxp>.sc-gIDmLj,
.sc-dlUKyu .sc-imtoHe,
.sc-eUJYgc>.sc-kSpoSR,
.sc-ekMTzm,
.sc-fXEqDS .sc-lkgTHX,
.sc-fivaXQ>span,
.sc-gIDmLj,
.sc-gUQvok .sc-fmciRz,
.sc-hRMWxn>span,
.sc-iseIHH,
.sc-iuqRDJ,
.sc-jUosCB .sc-GEbAx,
.sc-llYSUQ,
select {
    font-size: 17px
}

.sc-cgLHwo,
.sc-efaPnb:first-child,
.sc-efaPnb:nth-child(2),
.sc-ieqYjd {
    background: rgba(0, 0, 0, .1);
    transition: background .1s;
    border: 1px solid #fff
}

.sc-cgLHwo:hover,
.sc-efaPnb:first-child:hover,
.sc-efaPnb:nth-child(2):hover,
.sc-ieqYjd:hover {
    background: rgba(0, 0, 0, .4)
}

.sc-OVzLa,
.sc-cCqACh,
.sc-cLqoAx .sc-dBGsNe,
.sc-cNKqjZ,
.sc-dlUKyu .sc-gulkZw,
.sc-ejUSkt,
.sc-gloWDX,
.sc-jZJapT,
.sc-kTLmzF {
    background: 0 0
}

.sc-bRcdvP:nth-child(2),
.sc-bRcdvP:nth-child(3) {
    margin-top: 10px
}

.sc-cgLHwo {
    margin-top: 2px
}

.sc-efaPnb:nth-child(2) {
    margin-left: 5px
}

#voxiom-io_300X250_1,
.sc-XxNYO,
.sc-bGaVxB .sc-hUpaCq,
.sc-bXTejn,
.sc-brSHfi,
.sc-bxJtlY,
.sc-bxYNtK,
.sc-cHzqoD,
.sc-cLqoAx,
.sc-cyAtEZ,
.sc-dVNjXY,
.sc-dvXDii,
.sc-eIMkDA,
.sc-ehCJOs .sc-hUpaCq,
.sc-ezHVNJ,
.sc-fOfeEA,
.sc-fcyAHI,
.sc-fmWebE .sc-hUpaCq,
.sc-ftuxfO,
.sc-gWXbKe,
.sc-hFFXrT,
.sc-hGNApp,
.sc-hOGkXu,
.sc-hkgtus,
.sc-htJRVC,
.sc-iPkRvG,
.sc-inrDdN,
.sc-jEDbyf,
.sc-jTycuM,
.sc-jZJapT,
.sc-jtXEFf,
.sc-jtdnna,
.sc-kHTDnN,
.sc-kITQLZ {
    border-radius: 12.5px
}

.cxSTIe,
.sc-PDIEN,
.sc-bNoLzS,
.sc-cLqoAx .sc-dBGsNe,
.sc-cNKqjZ,
.sc-ccdLe,
.sc-cgLHwo,
.sc-clIzBv,
.sc-dHxrtn,
.sc-dPiLbb,
.sc-eLwHnm,
.sc-efaPnb:first-child,
.sc-efaPnb:nth-child(2),
.sc-fpyFWH>.sc-hCwLRM,
.sc-hKAakq,
.sc-ieqYjd,
.sc-jQbROH,
.sc-kffHwx .sc-hUpaCq {
    border-radius: 7px
}

.sc-gijNBN>.sc-eIMkDA {
    border: 1px solid grey;
    margin-bottom: 3px
}

.sc-ehCJOs .sc-nVkyK,
.sc-gWXbKe>.sc-hiCibw {
    border-bottom-left-radius: 12.5px;
    border-bottom-right-radius: 12.5px
}

.sc-gfXEFL {
    border-radius: 12.5px;
    padding-top: 25px
}

.sc-bcuSnp,
.sc-ctrcbf {
    border-radius: 12.5px;
    padding-top: 27px
}

.sc-dHxeTU,
.sc-jOxtWs {
    font-size: 19px;
    border-radius: 7px
}

.sc-dGXKQl,
.sc-dlUKyu>.sc-eIMkDA,
.sc-jGOmzE>.sc-eIMkDA {
    margin-bottom: 3px
}

.sc-bJijCA {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px
}

.sc-bcGyXE:nth-child(2),
.sc-kTwdzw {
    border-top-right-radius: 12.5px;
    border-bottom-right-radius: 12.5px
}

.sc-kTwdzw {
    font-size: 19px;
    margin-left: -15px
}

.sc-ejUSkt {
    font-size: 15px
}

.sc-hWfKGx:nth-child(2),
.sc-hWfKGx:nth-child(3) {
    font-size: 15px;
    margin-top: 15px
}

.sc-fxoWpM>.sc-ezDxBL {
    font-size: 18px
}

.sc-dyEwOs .sc-hWwfGH,
.sc-fxoWpM .sc-gJDHPX {
    text-decoration: none
}

.sc-ljHdwo {
    right: 30px;
    top: 25px
}

.sc-iAKWXU {
    border-radius: 12.5px;
    font-size: 19px
}

.sc-gWXbKe span,
.sc-gWXbKe>.sc-cidDSM,
.sc-jlObWd .sc-cVeCjG {
    font-size: 16px
}

.sc-bilyIR input,
.sc-fXEqDS:nth-child(7) input {
    height: 33px
}

.sc-bilyIR:nth-child(6) input,
.sc-bilyIR:nth-child(7) input,
.sc-gUQvok:nth-child(5) input,
.sc-gUQvok:nth-child(6) input,
.sc-jUosCB:nth-child(10) input,
.sc-jUosCB:nth-child(11) input,
.sc-jUosCB:nth-child(12) input,
.sc-jUosCB:nth-child(9) input {
    width: 17px;
    height: 17px
}

.sc-fXEqDS:first-child {
    margin-bottom: 0
}

.sc-eWfVMQ {
    border-radius: 7px;
    margin-bottom: 13px;
    font-size: 19px
}

.sc-ehIJor>span,
.sc-gUQvok,
.sc-hxaKAp>span {
    margin-bottom: 10px
}

.sc-EsakX,
.sc-fIEHcE,
.sc-gUQvok:nth-child(5),
.sc-hilbJV,
.sc-lmONJn {
    margin-bottom: 20px
}

.sc-iQLbEm {
    border-radius: 10px
}

.sc-eGAbHy {
    border-radius: 12.5px;
    border: 1px solid grey;
    width: 50px;
    height: 50px
}

.sc-eIMkDA,
.sc-hkgtus,
.sc-kTLmzF {
    border: 1px solid grey
}

.sc-OVzLa,
.sc-gloWDX,
.sc-kffHwx {
    border-radius: 12.5px
}

.sc-gijNBN .svg-inline--fa,
.sc-jGOmzE .sc-cCqACh>.svg-inline--fa {
    width: 25px;
    height: 25px
}

.sc-hLVXRe,
.sc-jvvksu {
    font-size: 23px;
    margin-bottom: 25px
}

.fa-times {
    width: 50px;
    height: 50px
}

.sc-jOxtWs {
    height: 30px
}

.sc-ivsNig {
    margin-top: -3px
}

.sc-eoHXOn {
    margin-bottom: -20px
}

.sc-OVzLa {
    margin-top: 0
}

.sc-dPiLbb {
    margin-right: -5px
}

.sc-jvvksu::after {
    content: ". GGs"
}

.sc-uWCef::after {
    content: " GGs"
}

.sc-iQLbEm::after {
    content: " Get Good Lmao Gtfo"
}

.sc-gwNMUz,
.sc-hgksCU,
.sc-jnLVoO {
    width: 250px;
    border-radius: 12.5px
}

.sc-bsmJhz>.sc-fWisXe,
.sc-eiQZie,
.sc-hIzrik,
.sc-hWfKGx>.sc-guNdNy,
.sc-lfzZHy>.sc-ecGeiE {
    background: 0 0;
    text-decoration: underline
}

.sc-hIzrik:first-child {
    margin-left: -20px
}

.sc-NqARw,
.sc-bcuSnp,
.sc-ctrcbf,
.sc-dvXDii,
.sc-fOfeEA,
.sc-gfXEFL,
.sc-hFFXrT,
.sc-jtdnna {
    margin-bottom: 30px
}

.sc-eSRRmr {
    margin-bottom: 15px
}

.sc-kffHwx {
    font-size: 19px
}

.sc-kffHwx:first-child {
    margin-top: 57px
}

div:nth-child(4)>iframe {
    margin-bottom: 5px
}

.sc-hgKiOD,
.sc-nBRWj {
    font-size: 23px
}

.sc-dlUKyu .sc-eGAbHy {
    width: 50px;
    height: 50px;
    border-radius: 7px
}

.sc-fYIQDW {
    width: 100px !important
}

.sc-gIDmLj:first-child {
    margin-right: -15px
}

.nav-stats-item-active {
    background: rgba(0, 0, 0, .8) !important
}

.sc-hIzrik:hover,
.sc-lfzZHy>.sc-ecGeiE:hover {
    background: rgba(0, 0, 0, .3) !important
}

.sc-bVMxNJ>.sc-cgLTVH:first-child {
    border-top-left-radius: 12.5px;
    border-bottom-left-radius: 12.5px
}

.sc-gloWDX {
    border: 1px solid #fff
}

.sc-hWBuOZ,
.sc-ioFxDg,
.sc-lheXJl {
    font-size: 20px;
    font-family: cursive
}

.sc-gijNBN .sc-gOMZtR {
    font-size: 15px !important
}

.sc-kITQLZ {
    bottom: 0;
    top: 0;
    height: 80px
}

.sc-bxJtlY,
.sc-lheXJl {
    height: 50px;
    background: 0 0
}

.sc-OVzLa:hover,
.sc-cCqACh:hover,
.sc-gaUZzY:hover,
.sc-gijNBN .sc-cAerGf:hover,
.sc-gijNBN .sc-fYIQDW:hover,
.sc-gloWDX:hover,
.sc-jZJapT:hover {
    background: rgba(0, 0, 0, .3)
}

.sc-iMiVwU {
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px
}

.sc-fHSIpi::after {
    content: " lmfao"
}

.sc-hyCmHO>.sc-cgLTVH {
    border-bottom-right-radius: 12.5px;
    border-top-right-radius: 12.5px
}

.sc-kTLmzF {
    border-radius: 7px;
    font-size: 19px
}

.sc-lbJDnc:nth-child(2) {
    margin-top: 30px;
    border-radius: 7px;
    font-size: 18px !important
}

.sc-lbJDnc:nth-child(3) {
    border-radius: 7px;
    font-size: 19px;
    height: 117px
}

.sc-gnYOKe {
    font-size: 17px;
    border-radius: 7px
}

.sc-hHSgnV::after {
    content: " bruh"
}

.sc-cLqoAx .sc-dBGsNe,
.sc-dlUKyu .sc-gulkZw {
    content: url('https://imgur.com/Yjg20FF.png') !important;
    width: auto !important
}

.sc-hkgtus {
    background: #000
}

.sc-hKAakq,
.sc-jOxtWs {
    background: 0 0;
    border: 1px solid gray
}

.sc-jOxtWs:hover {
    background-color: rgba(255, 255, 255, .05)
}

.sc-dlUKyu .sc-gulkZw:hover {
    background: rgba(0, 0, 0, .3);
    border-radius: 7px
}

.sc-cjrPHo {
    border-radius: 7px;
    background: rgba(255, 255, 255, .05);
    border: 1px solid grey
}

.sc-dHxeTU,
.sc-jQbROH,
.sc-kffHwx {
    background: 0 0;
    border: 1px solid grey
}

.sc-gijNBN>.sc-eIMkDA,
.sc-jGOmzE>.sc-eIMkDA {
    background: rgba(255, 255, 255, .05);
    border: none;
    border-radius: 7px !important
}

.sc-dlUKyu .sc-eGAbHy,
.sc-gijNBN .sc-eGAbHy,
.sc-jGOmzE .sc-eGAbHy {
    background: 0 0;
    border: none;
    font-size: 25px;
    font-family: fraunces, serif !important
}

.sc-bxJtlY {
    width: 50px;
    margin-top: 5px;
    border: none;
    font-family: fraunces, serif !important;
    font-size: 50px
}

.sc-lheXJl {
    border-radius: 7px;
    border: 1px solid gray
}

.sc-XxNYO,
.sc-bXTejn,
.sc-cLqoAx,
.sc-dHxeTU:hover,
.sc-dPiLbb,
.sc-dVNjXY,
.sc-dlUKyu>.sc-eIMkDA,
.sc-gnYOKe,
.sc-hOGkXu,
.sc-htJRVC,
.sc-jEDbyf,
.sc-jQbROH:hover,
.sc-lbJDnc {
    background: rgba(255, 255, 255, .05)
}

.sc-dlUKyu>.sc-eIMkDA {
    border: none
}

.sc-dlUKyu>.sc-eIMkDA,
.sc-ioFxDg {
    border-radius: 7px !important
}

.sc-dHxeTU {
    margin-right: 3px
}

.sc-cgLHwo:hover,
.sc-efaPnb:hover,
.sc-ieqYjd:hover {
    background: rgba(255, 255, 255, .05) !important
}

.sc-ioFxDg {
    background: 0 0 !important;
    height: 24px;
    margin-bottom: 10px
}

.sc-cLqoAx .sc-dBGsNe:hover {
    background: rgba(0, 0, 0, .5) !important
}

.sc-cNKqjZ:hover {
    background: rgba(255, 255, 255, .1)
}

.sc-hmvnCu {
    background: 0 0;
    border: 1px solid gray;
    border-radius: 7px;
    font-size: 19px;
    font-family: cursive;
    margin-bottom: 15px
}

.sc-PDIEN,
.sc-bbUAki .sc-eGAbHy,
.sc-ftuxfO,
.sc-iyuJgS,
.sc-lajtew {
    font-family: fraunces, serif !important
}

.Dropdown-root:first-child>.Dropdown-control {
    font-size: 19px;
    border-radius: 7px;
    background: 0 0
}

.Dropdown-root:first-child>.Dropdown-control,
.sc-cRKLkh:nth-child(12)>.sc-lheXJl,
.sc-cRKLkh:nth-child(2)>.sc-lheXJl,
.sc-cRKLkh:nth-child(4)>.sc-lheXJl,
.sc-cRKLkh:nth-child(8)>.sc-lheXJl {
    border: 1px solid #ccc;
    margin-bottom: 5px
}

.sc-dlUKyu .sc-gulkZw {
    height: 15px !important
}

.sc-ioFxDg {
    border: 1px solid grey !important
}

.sc-bbUAki>.sc-eIMkDA {
    border: none;
    background: rgba(255, 255, 255, .05)
}

.sc-bbUAki .sc-eGAbHy {
    background: 0 0;
    border: none;
    font-size: 30px;
    margin-top: 5px
}

.sc-cLqoAx .sc-dBGsNe {
    height: 17px !important
}

.sc-iyuJgS,
.sc-lajtew {
    font-weight: 700
}
