/********** main **********/

.bNczYf /*background element*/ { 
  background: black;
}
	
.sc-ibSMNl /*logo element*/ {
  content: url('https://i.imgur.com/oTg3bG6.png');  
  height: 190px;
  width: auto;
  filter: drop-shadow(0 0 20px black) drop-shadow(0 0 0 black);
  margin-top: 0 !important;
  margin-bottom: 35px;
} 

* {
  font-family: "Comic Sans MS", "Comic Sans", cursive !important; /* font */
  transition: background 0.2s ease;
  text-decoration: none !important;
}

:root { 
  --dark: #05070b;   
  --normal: #0b0f14;  
  --light: #14181e;  
}

div[id^="voxiom-io"] { /* blocks ad */
    display: none;
}

.kqMamr[style*="font-size: 10px"], 
.dZDPlS * {
    font-size: 12px !important;
}

/********** in game **********/

.sc-kQoPux.cZlSHS {
  border-radius: 10px;
}

.bhZAzR {
    color: rgb(52, 152, 219);
}

.gJPUVb {
    color: rgb(231, 76, 60);
}

.sc-eWfVMQ {
	width: 180px;
}

.kkJNVP,
.sc-bXRjm.mKbOF,
.sc-cnHmbd.ioTKAc {
    display: none !important;
}

.sc-kQoPux.cZlSHS,
.sc-ctKHVw.iDVGNm,
.sc-jTycuM,
.sc-eLwHnm,
.sc-fcyAHI {
  background: var(--dark);
  border: 1px solid grey;
}

.sc-iQLbEm,
.gIfJjz,
.cxSTIe,
.ekCLHU,
.eFhDSk,
.eQfmzq *,
.bNPMhE *,
.kmXZza *,
.jeVZaU *,
.hRjrYH *,
.faeaXa,
.cJa-dgF,
.bhZAzR,
.lbyvRf,
.gJPUVb,
.dtXnOV,
.dFbRBI,
.czueTf,
.dXMIIa,
.bccMWL,
.hPotyP {
    border: none !important;
    background: none !important;
}

.hPoIsr,
.iSzErR {
    background: none !important;
    border: none !important;
    width: 50px;
    height: 50px;
}

.faeaXa {
    filter: drop-shadow(0 0 3px rgb(var(--inv))) drop-shadow(0 0 3px rgb(var(--inv)))
}

.faeaXa[style*="rgb(149, 165, 166)"] {
    --inv: 149, 165, 166;
}

.faeaXa[style*="rgb(46, 204, 113)"] {
    --inv: 46, 204, 113;
}

.faeaXa[style*="rgb(52, 152, 219)"] {
    --inv: 52, 152, 219;
}

.faeaXa[style*="rgb(155, 89, 182)"] {
    --inv: 155, 89, 182;
}

.faeaXa[style*="rgb(241, 196, 15)"] {
    --inv: 241, 196, 15;
}

.faeaXa[style*="rgb(211, 84, 0)"] {
    --inv: 211, 84, 0;
}

.eQfmzq {
    position: absolute;
    top: 0;
    left: 200px;
}

.ekaCUa {
    height: 100%;
}

.cxWTDe {
    background: rgba(0, 0, 0, 0.65) !important;
    border-radius: 10px;
}

.sc-hDzdEj.hZsXWy,
.sc-bOtlzW.cLzJor,
.sc-ddnlvQ.dGlSHe { 
  display: none; 
}

.sc-ivsNig {
  margin-bottom: 5px;
}

.sc-ibkupM.lkzoLL { 
  border: none; 
}

.sc-bhiFeW.dBIePB,
.sc-jZJapT.hlOgaT {
  border-radius: 10px;
}

.sc-ctKHVw.iDVGNm,
.sc-gCEpsI.gbpKdG,
.sc-fcyAHI,
.sc-ccdLe,
.sc-bIaGFe,
.sc-hKysef,
.sc-eLwHnm,
.sc-jTycuM,
.sc-ezHVNJ,
.sc-iMiVwU,
.sc-jnLVoO,
.sc-gwNMUz,
.sc-hgksCU,
.sc-cyAtEZ {
	border-radius: 10px;
}

.sc-ccdLe > .sc-jOxtWs,
.sc-jOxtWs {
	border-radius: 5px;
  border: none;
}

.sc-iMrobD.hJXpws {
  background: var(--dark);
  border-radius: 10px;
  border: 1px solid grey;
}

.sc-cdJjGe.ejuUal {
  border: none;
}

/********** home **********/

.sc-lbCmg,
.sc-kudmJA,
.sc-jwRhZi,
.sc-iJKOTD,
.sc-pVTFL,
.sc-giYglK,
.sc-bBHxTw, 
.sc-crHmcD, 
.sc-wAsCI:nth-child(2) > .sc-fpGCtG,
.sc-wAsCI:nth-child(1) > .sc-fpGCtG {
	display: none;
}

.sc-bRcdvP:nth-child(3) {
	margin-top: 5px;
}

.sc-kITQLZ {
	margin-left: -5px;
}

.sc-inrDdN {
	margin-left: 17px;
}

.sc-ksdxgE,
.sc-hGPBjI {
	border-radius: 5px;
}

.sc-hnCQzQ {
	background: var(--dark);
  border-radius: 10px;
  border: 1px solid grey;
}

.active {
	background: var(--light) !important;
}

.sc-cgLTVH {
	background: var(--dark);
}

.sc-bVMxNJ > .sc-cgLTVH:nth-child(1)  {
	border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sc-kTwdzw {
	border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--dark);
}

.sc-bxYNtK,
.sc-inrDdN,
.sc-kITQLZ {
	background: var(--dark);
  border-radius: 10px;
  border: 1px solid grey;
}

.sc-llYSUQ {
  background: var(--dark);
  border: 1px solid grey;
}

.sc-efaPnb:nth-child(1),
.sc-efaPnb:nth-child(2),
.sc-ieqYjd,
.sc-cgLHwo,
.sc-efaPnb,
.sc-bNoLzS {
	background: var(--normal);
  border-radius: 5px;
  border: 1px solid grey;
}

.sc-efaPnb:nth-child(1):hover,
.sc-efaPnb:nth-child(2):hover,
.sc-ieqYjd:hover,
.sc-cgLHwo:hover,
.sc-efaPnb:hover,
.sc-bNoLzS:hover {
	background: var(--light);
}

.Dropdown-control {
	background: var(--normal) !important;
  border: 1px solid grey !important;
  border-radius: 5px !important;
}

/********** account **********/

.sc-hGNApp {
	border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.sc-jtdnna {
	background: var(--dark);
  margin-bottom: 50px;
  border-radius: 10px;
  border: 1px solid grey;
}

.sc-bcGyXE:nth-child(2) {
	border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sc-bcGyXE {
  background: var(--normal);
  border: 1px solid grey;
}

.sc-jEDbyf,
.sc-cLqoAx {
	background: var(--normal);
  border-radius: 10px;
  border: 1px solid grey;
}

.sc-cLqoAx {
  margin-bottom: 5px;
}

.sc-cLqoAx .sc-dBGsNe {
	background: none;
}

.sc-fOfeEA {
	background: var(--dark);
  border-radius: 10px;
  margin-bottom: 50px;
  border: 1px solid grey;
}

.sc-nBRWj:nth-child(3),
.sc-nBRWj:nth-child(5) {
	border-radius: 10px;
}

/********** leaderboard **********/

.sc-ejUSkt,
.sc-lfzZHy:nth-child(2),
.sc-lfzZHy:nth-child(3) {
  border-radius: 5px;
}

.sc-ejUSkt {
  background: var(--normal);
}

.sc-hIzrik:nth-child(1) {
	border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sc-hIzrik {
	background: none;
}

.sc-hilbJV,
.sc-EsakX,
.sc-lmONJn {
	margin-top: 20px;
  margin-bottom: 20px;
}

.sc-lfzZHy > .sc-ecGeiE,
 .sc-hWfKGx > .sc-guNdNy,
.sc-bsmJhz > .sc-fWisXe,
.sc-eiQZie  {
	background:  var(--normal);
}

.kjgpBj.nav-stats-item-active,
.idlvms.nav-stats-item-active,
.ktQWkJ.nav-stats-item-active,
.chZZqM.nav-stats-item-active {
  background: rgb(50,50,50)
}

.sc-fIEHcE {
  margin-bottom: 10px;
}

.sc-dvXDii {
	background: var(--dark);
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: 50px;
}

.sc-lfzZHy:nth-child(2) > .sc-ecGeiE:nth-child(4),
.sc-ecGeiE:nth-child(5),
.sc-eiQZie:nth-child(3) {
	border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sc-lfzZHy:nth-child(2) > .sc-ecGeiE:nth-child(2),
.sc-lfzZHy:nth-child(3) > .sc-ecGeiE:nth-child(2),
.sc-eiQZie:nth-child(2) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/********** loadouts **********/

a.sc-kTLmzF.ezdBNE.active {
  background: #577492 !important;
}

.sc-ctrcbf {
	background: var(--dark);
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: 50px;
}

.sc-Galmp,
.sc-dwsnSq,
.sc-bGIgrQ {
  margin-left: 5px;
}

.sc-kTLmzF {
	background: var(--light);
  border-radius: 5px;
  border: 1px solid grey;
}

.sc-jIkXHa:nth-child(2) .Dropdown-control {
	margin-left: -7px;
}

.cJoQGw {
    background: radial-gradient(circle, rgba(var(--market), 0.3), rgba(var(--market), 0.1));
}

.cJoQGw[style*="rgb(255, 255, 255)"] {
    --market: 255, 255, 255;
}

.cJoQGw[style*="rgb(128, 156, 255)"] {
    --market: 128, 156, 255;
}

.cJoQGw[style*="rgb(180, 99, 255)"] {
    --market: 180, 99, 255;
}

.cJoQGw[style*="rgb(255, 84, 224)"] {
    --market: 255, 84, 224;
}

.cJoQGw[style*="rgb(230, 126, 34)"] {
    --market: 230, 126, 34;
}

.cJoQGw[style*="rgb(255, 66, 101)"] {
    --market: 255, 66, 101;
}

.cJoQGw[style*="rgb(255, 224, 99)"] {
    --market: 255, 224, 99;
}

.sc-ehCJOs .sc-hUpaCq {
	border-radius: 10px;
}

.sc-hKAakq,
.sc-dPiLbb {
	background: var(--normal);
  border-radius: 5px;
  border: 1px solid grey;
}

.sc-cNKqjZ {
	background: #577492;
  border-radius: 5px;
  border: 1px solid grey;
}

.sc-cNKqjZ:hover {
  background: #577492;
}

.sc-lbhJGD.iBeKPB {
  border-radius: 10px;
}

.sc-hkgtus {
	background: var(--dark);
  border: 1px solid grey;
  border-radius: 10px;
}

.sc-bGaVxB .sc-hUpaCq {
	border-radius: 10px;
}

.sc-cjrPHo {
	background: var(--normal);
  border-radius: 5px;
  border: 1px solid grey;
}

.sc-kffHwx {
	background: var(--normal);
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: 15px;
}

/********** shop **********/

.sc-iPkRvG {
  background: var(--dark);
  border-radius: 10px;
  border: 1px solid grey;
}

.sc-gWXbKe {
	border-radius: 10px;
  background: var(--light);
  border: 1px solid grey;
}

.sc-gWXbKe > .sc-hiCibw {
	background: #577492;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sc-iAKWXU {
	background: var(--normal);
  border-radius: 5px;
  border: 1px solid grey;
}

/********** updates **********/

.sc-NqARw {
	background: var(--dark);
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: 50px;
}

/********** settings **********/

.sc-jtXEFf {
  background: var(--dark);
  border-radius: 10px;
  border: 1px solid grey;
}

.sc-eWfVMQ {
	background: var(--light) !important;
  border-radius: 5px;
  border: 1px solid grey;
}

.sc-eWfVMQ.fCIFEQ[style*="rgb(230, 126, 34)"] {
	background: #577492 !important;
}

.sc-hOGkXu {
	background: var(--normal);
  border-radius: 10px;
  border: 1px solid grey;
}

.sc-jUosCB > .sc-jQrDum,
.sc-gUQvok:nth-child(1) > .sc-fIosxK,
.sc-gUQvok:nth-child(3) > .sc-fIosxK {
	width: 200px;
}

.sc-jUosCB .sc-GEbAx,
.sc-gUQvok .sc-fmciRz {
	border-radius: 5px;
  background: var(--dark);
  border: 1px solid grey;
  width: 100px;
}

*:focus {
  outline: none;
}

.sc-jOxtWs.sc-hmjpVf.dPDtPr.leDwNg {
	background: var(--light);
  border: 1px solid grey;
  height: 25px;
}

.sc-gUQvok > .sc-fXeWAj {
	border-radius: 5px;
  border: 1px solid grey;
}

.sc-dFtzxp > .sc-gIDmLj,
.sc-gIDmLj:nth-child(1),
.sc-gIDmLj:nth-child(3),
.sc-bilyIR .sc-xiLah {
	width: 50px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 13px;
  background: var(--dark);
}

.sc-bilyIR .sc-xiLah {
  width: 100px;
}

.sc-gIDmLj:nth-child(3) {
	margin-left: -10px;
}

.sc-bXTejn,
.sc-htJRVC,
.sc-XxNYO,
.sc-dVNjXY {
	background: var(--normal);
  border-radius: 10px;
  border: 1px solid grey;
}

select:nth-child(1) {
	background: var(--dark);
  padding: 5px;
  color: #ddd;
  border: 1px solid grey;
  border-radius: 5px;
}

.sc-jWUzzU.fiVibt {
  background: var(--dark);
  border-radius: 5px;
  border: 1px solid grey;
  padding: 15px;
} 

.sc-fXEqDS > .sc-FNXRL {
	width: 250px;
}

.sc-fXEqDS:nth-child(4) .sc-lkgTHX,
.sc-fXEqDS:nth-child(5) .sc-lkgTHX,
.sc-fXEqDS:nth-child(6) .sc-lkgTHX,
.sc-fXEqDS:nth-child(8) .sc-lkgTHX {
	width: 100px;
  background: var(--dark);
  border: 1px solid grey;
  border-radius: 5px;
  padding: 7px;
}

.sc-fXEqDS:nth-child(1) .sc-lkgTHX,
.sc-fXEqDS:nth-child(3) .sc-lkgTHX {
	background: var(--dark);
  border: 1px solid grey;
  border-radius: 5px;
  padding: 7px;
}

.sc-bilyIR:nth-child(1) .sc-xiLah,
.sc-bilyIR:nth-child(2) .sc-xiLah,
select:nth-child(1),
.sc-dFtzxp > .sc-gIDmLj,
.sc-gIDmLj:nth-child(1),
.sc-gIDmLj:nth-child(3),
.sc-gUQvok:nth-child(1) .sc-fmciRz,
.sc-gUQvok:nth-child(3) .sc-fmciRz,
.sc-jUosCB .sc-GEbAx {
	padding: 7px;
}

/********** clans **********/

.sc-bcuSnp {
	border-radius: 10px;
  border: 1px solid grey;
  background: var(--dark);
  margin-bottom: 50px;
}

.sc-bxJtlY {
	background: none;
  border: none;
}

.sc-jQbROH {
	border-radius: 5px;
}

.sc-dHxeTU,
.kDZNQo,
.iWbarg {
	border-radius: 5px;
}

.sc-lbJDnc:nth-child(2) {
	margin-top: 25px;
}

.sc-lbJDnc,
.sc-gnYOKe {
 border-radius: 5px;
  background: var(--normal);
  border: 1px solid grey;
}

.sc-gnYOKe {
  height: 25px;
}

.sc-lheXJl {
	border: 1px solid grey;
  border-radius: 5px;
  background: var(--light);
  margin-bottom: 15px;
}

.sc-dlUKyu > .sc-eIMkDA,
.sc-csnXpH > .sc-eIMkDA,
.sc-eIMkDA {
  border: 1px solid grey;
  background: var(--normal);
  border-radius: 10px;
  margin-bottom: 5px;
}

.sc-dlUKyu .sc-eGAbHy,
.sc-csnXpH .sc-eGAbHy,
.sc-eGAbHy {
	background: var(--dark);
  border-radius: 10px;
  border: 1px solid grey;
}

.sc-dlUKyu .sc-gulkZw,
.sc-csnXpH .sc-cCqACh,
.sc-gaUZzY,
.sc-cAerGf {
	background: var(--dark);
  border-radius: 5px;
  border: 1px solid grey;
}

/********** friends **********/

.sc-gfXEFL {
	background: var(--dark);
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 50px;
}

.sc-ioFxDg {
	border: 1px solid grey;
  border-radius: 5px;
  background: var(--light);
}

.sc-gijNBN:nth-child(2) > .sc-eIMkDA,
.sc-jGOmzE:nth-child(2) > .sc-eIMkDA {
	margin-top: 15px;
}

.sc-gijNBN .sc-fYIQDW {
	background: var(--dark);
  border-radius: 5px;
  border: 1px solid grey;
}

.sc-hmvnCu,
.sc-cRKLkh:nth-child(4) > .sc-lheXJl,
.sc-cRKLkh:nth-child(8) > .sc-lheXJl {
	background: var(--normal);
  border-radius: 5px;
  border: 1px solid grey;
  min-height: 50px;
}

.sc-hUplSX:nth-child(1),
.sc-hUplSX:nth-child(3),
.sc-hUplSX:nth-child(5),
.sc-hUplSX:nth-child(7) {
	margin-bottom: 10px;
  background: var(--light);
  padding: 10px;
  border-radius: 5px;
}

.sc-hUplSX:nth-child(5) {
  margin-top: -15px;
}

.sc-iBjLOp {
	margin-left: 5px;
}

.sc-hUplSX:nth-child(1),
.sc-hUplSX:nth-child(3),
.sc-hUplSX:nth-child(5),
.sc-hUplSX:nth-child(7),
.sc-hUplSX:nth-child(9),
.sc-hUplSX:nth-child(11) {
	background: var(--light);
  padding: 10px;
  border-radius: 5px;
}

.sc-hUplSX:nth-child(9) {
  margin-top: -14px;
  margin-bottom: 11px;
}

.sc-hUplSX:nth-child(11) {
  margin-bottom: 10px;
}
